<footer>
  <h5>Follow us on social</h5>

  <div class="social">
    <a href="https://www.facebook.com/">
      <div class="social-icon">
        <img img src="/docs/social/fb-logo.png" alt="facebook" style="width:100%">
      </div>
    </a>

    <a href="https://www.instagram.com/">
      <div class="social-icon">
        <img img src="/docs/social/ig-logo.png" alt="instagram" style="width:100%">
      </div>
    </a>

    <a href="https://twitter.com/">
      <div class="social-icon">
        <img img src="/docs/social/twitter-logo.png" alt="twitter" style="width:100%">
      </div>
    </a>
  </div>
</footer>
