<nav>
  <div>
    <div>
      <!-- below is the logo that links to home-->
        <div class="logo">
          <a href="/">
            <img src="/docs/logo/logo.png" alt="HTML tutorial" style="width:200px;height:61px;">
          </a>
        </div>

        <div class="search-bar">
          <form method="POST" action="/category">
            <input type="text" name="" placeholder="What are you looking for?" value="">
          </form>
        </div>
    </div>


    <div>
      <!-- below is the favourite button-->
        <% if (type === "buyer") { %>
        <button type="submit" class="btn btn-primary">
          <a href="/favourite_items">favourite</a>
        </button>
        <% } %>
        <% if (type === "seller") { %>
        <button type="submit" class="btn btn-primary">
          <a href="/my_products">My Products</a>
        </button>
        <% } else { %>
      <!-- below is the Cart (order_items) button-->
        <button type="submit" class="btn btn-primary">
          <a href="/order_items">Cart (order_items)</a>
        </button>
        <% } %>
    </div>

    <div>
      <!-- categories button is available to all-->
      <button class="btn btn-primary">
        <a href="/category">Category Page</a>
      </button>
    </div>

    <div>
      <!-- if there is no cookie, Login buttons are displayed -->
      <% if (!type) { %>
        <!-- below is the Seller Login -->
      <button type="submit" class="btn btn-primary">
        <a href="/seller_login">Seller Login</a>
      </button>
      <!-- below is the Buyer Login button-->
        <button type="submit" class="btn btn-primary">
          <a href="/buyer_login">Buyer Login</a>
        </button>
        <% } else { %>
        <!-- Logout button only displays if there are cookies -->
      <!-- below is the Logout button-->
      <form method="POST" action="/logout" >
        <button type="submit" class="btn btn-primary">
          Logout
        </button>
      </form>
      <% } %>
    </div>

  </div>

</nav>
