<nav>
  <div>
    <p>Search for awesome stuff! </p>
    <form action="/product" method="POST" class="form-example">
      <div class="form-example">
        <label for="name"></label>
        <button class="favorite styled" type="submit"></button>
      </div>
    </form>
  </div>

</nav>
