<div>
  <div class="row-one">

    <div>
      <!-- below is the logo that links to home-->
        <div class="logo">
          <a href="/">
            <img src="/docs/logo/logo.png" alt="logo" style="width:200px;height:61px;">
          </a>
        </div>

        <div class="search-bar">
          <form method="POST" action="/category">
            <input type="text" name="" placeholder="What are you looking for?" value="">
          </form>
        </div>
    </div>


    <div>
      <!-- below is the favourite button-->
        <% if (type === "buyer") { %>
          <a href="/favourite_items">
            <img src="/docs/icons/buyer-icon.png" alt="buyer icon" style="width:20px;height:20px;">
          </a>
        <% } %>
        <% if (type === "seller") { %>
        <a href="/my_products">
          <img src="/docs/icons/seller-icon.png" alt="seller icon" style="width:20px;height:20px;">
        </a>
        <% } else { %>
      <!-- below is the Cart (order_items) button-->
          <a href="/favourite_items">
            <img src="/docs/icons/fav-icon.png" alt="favourite icon" style="width:20px;height:20px;">
          </a>
          <!-- below would need fixing from index.ejs -->
          <a href="/order_items">
            <img src="/docs/icons/cart-icon.png" alt="cart icon" style="width:20px;height:20px;">
          </a>
        <% } %>
    </div>
  </div>
  <div class="row-two">
    <div class="categories">
      <!-- categories button is available to all-->
      <button class="btn btn-primary">
        <a href="/category">Plants</a>
      </button>
      <button class="btn btn-primary">
        <a href="/category">Seeds</a>
      </button>
      <button class="btn btn-primary">
        <a href="/category">Pots</a>
      </button>
    </div>

    <div>
      <!-- if there is no cookie, Login buttons are displayed -->
      <% if (!type) { %>
        <!-- below is the Seller Login -->
      <button type="submit" class="btn btn-primary">
        <a href="/seller_login">Seller Login</a>
      </button>
      <!-- below is the Buyer Login button-->
        <button type="submit" class="btn btn-primary">
          <a href="/buyer_login">Buyer Login</a>
        </button>
        <% } else { %>
        <!-- Logout button only displays if there are cookies -->
      <!-- below is the Logout button-->
      <form method="POST" action="/logout" >
        <button type="submit" class="btn btn-primary">
          Logout
        </button>
      </form>
      <% } %>
    </div>
  </div>
</div>

