<nav>
  <div>
    <p>Search for awesome stuff! </p>
    <!-- below is the search bar form -->
    <div class="search-bar">
      <form method="POST" action="">
        <label for="">Enter your search:</label>
        <input type="text" name="" value="">
        <button type="submit" class="btn btn-danger">
          search doesn't work
        </button>
      </form>
    </div>

    <div>
      <!-- below is the home button-->
        <div class="form-example">
          <button type="submit" class="btn btn-primary">
            <a href="/index">home</a>
          </button>
        </div>
    </div>


    <div>
      <!-- below is th favourite button-->
      <!-- <form method="GET" action=""> -->
        <button type="submit" class="btn btn-primary">
          <a href="/favourite_items">favourite</a>
        </button>
      <!-- </form> -->
      <!-- below is the Cart (order_items) button-->
      <!-- <form method="GET" action=""> -->
        <button type="submit" class="btn btn-primary">
          <a href="/order_items">Cart (order_items)</a>
        </button>
      <!-- </form> -->
    </div>

    <div>
      <!-- below is the categories button-->
      <button class="btn btn-primary">
        <a href="/category">Category Page</a>
      </button>
    </div>

    <div>
      <!-- below is the Seller Login button Redirects to favourites-->
      <button type="submit" class="btn btn-primary">
        <a href="/my_products">Seller Login</a>
      </button>
      <!-- below is the Buyer Login button-->
        <button type="submit" class="btn btn-primary">
          <a href="/favourite_items">Buyer Login</a>
        </button>
      <!-- below is the Logout button-->
      <!-- Question - can we do a post AND a get from the same button?-->
      <form method="POST" action="/logout" >
        <button type="submit" class="btn btn-primary">
          Logout
        </button>
      </form>
    </div>

  </div>

</nav>
