body {
  background-color: #DDD9D2;

  h1 {
    font-family: 'Libre Caslon Text', serif;
    font-size: 30px;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 5px;
    color: #173E3D;
  }

  .container {
    padding: 1em;
  }
}
