body {
  background-color: #EEE;

  .order-items {
    h1 {
      font-family: 'Libre Caslon Text', serif;
      font-size: 30px;
      font-weight: 600;
      text-transform: lowercase;
      text-align: center;
      letter-spacing: 1px;
      color: #173E3D;
      padding-top: 40px;
    }
  }

}
