body {
  background-color: #DDD9D2;

  h1 {
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #173E3D;
  }

  .container {
    padding: 1em;
  }
}
