body {
  .profile-module {
    display: flex;
    flex-direction: row;
    align-items: center;

    .profile-img {
      width: 15%;
      margin: 30px;
    }

    h6 {
      font-family: 'Alata', sans-serif;
      font-size: 40px;
      margin: 0;
    }
  }

  hr {
    width: 95%;
  }
}

