body {
  .profile-module {

    .profile-img {
      width: 15%;
      margin: 30px;
    }

    h6 {
      font-family: 'Alata', sans-serif;
      font-size: 18px;
    }
  }


  hr {
    width: 95%;
  }
}
